<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>NutrIA nécessite l&apos;accès à l&apos;appareil photo pour analyser vos repas et calculer les valeurs nutritionnelles.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>NutrIA nécessite l&apos;accès à vos photos pour analyser vos repas et calculer les valeurs nutritionnelles.</string>
	<key>NSMotionUsageDescription</key>
	<string>Pour animer l&apos;arrière-plan en fonction du mouvement</string>
</dict>
</plist>
