<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>NutrIA nécessite l&apos;accès à l&apos;appareil photo pour analyser vos repas et calculer les valeurs nutritionnelles.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>NutrIA nécessite l&apos;accès à vos photos pour analyser vos repas et calculer les valeurs nutritionnelles.</string>
	<key>NSMotionUsageDescription</key>
	<string>Pour animer l&apos;arrière-plan en fonction du mouvement</string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>OPENAI_API_KEY</key>
	<string>$(OPENAI_API_KEY)</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
