//
//  Secrets.xcconfig
//  nutrition-app
//
//  Created by Florian Fourcade on 10/04/2025.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project


OPENAI_API_KEY = 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
